/* Setup */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.walking-man {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0px 8px 15px 0px rgba(54, 54, 54, 0.4);
    position: relative;
}

.walking-man div { /* All of the body parts */
    position: absolute;
    border-radius: 50px;
    background-color: black;
    animation-iteration-count: 5;
}

.torso {
    height: 190px;
    width: 7px;
    left: 300px;
    top: 150px;
}

.head {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 80px;
    left: 262px;
}

.arm1-upper, .arm1-lower {

}

.arm1-upper {
    height: 88px;
    width: 7px;
    top: 168px;
    left: 301px;
    transform-origin: top left;
    animation-name: arm1-upper;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}


.arm1-lower {

}

.arm2-upper {

}

.arm2-lower {

}

.leg1-upper {

}

.leg1-lower {

}

.leg2-upper {

}

.leg2-lower {

}


@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
